<!doctype html>
<html lang="en">
    <head>
        <title>RFID Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body style="height:100vh;overflow-y:scroll;">
        <div class="container" style="height:100%;">
                <h3>RFID Client</h3>
                <h5 id="connected"></h5>
                <hr/>
                <div class="row" style="height:40%;">
                        <div class="col-xs-6" id="full_status"></div>
                        <div class="col-xs-6" id="out_status"></div>
                </div>
                <hr/>
                <div class="row" style="height:35%;overflow-y:scroll;">
                        <div class="col-xs-12" id="scan"></div>
                </div>
        </div>
         <script src="/jquery/dist/jquery.js"></script>
        <script src="/socket.io-client/dist/socket.io.js"></script>
    </body>
    <script>
        var DURATION_THREASHOLD=10;

       console.log('init');
       var socket = io.connect('http://localhost:3000');
        socket.on('connect', function(data) {
                console.log('connect');
                socket.emit('join', 'Hello World from client');
                $('#connected').html('<span style="color:#00FF00">Connected</span>');
        });

        socket.on('disconnect',function(data){
                $('#connected').html('<span style="color:#FF0000">Disconnected</span>');
        });

        socket.on('connect-failed',function(data){
                $('#connected').html('<span style="color:#000000">Connect Failed</span>');
        });

        socket.on('error',function(data){
                $('#connected').html('<span style="color:#000000">Error</span>');
        });
        socket.on('messages', function(data) {
                $('#scan').prepend('<p>'+data+'</p>');
        });

        socket.on('in_status',function(data){
                $('#in_status').html('');
                var data = JSON.parse(data);
                for(var index=0;index<data.length;index++){
                        $('#in_status').append('<p style="color:#00FF00">'+data[index].id+' - '+data[index].duration+' sec</p>');
                }
                //$('#in_status').html('<p style="color:#00ff00">'+data+'</p>');
        });

       // [{"group_name":"a","devices":[{"ip":"192.168.0.239","users":[{"id":"56000452","time":"2017-04-15T10:13:09+05:30"}]}]},{"group_name":"b","devices":[{"ip":"192.168.0.239","users":[{"id":"56000453","time":"2017-04-15T10:13:10+05:30"}]}]}]

         socket.on('full_status',function(data){
                console.log(data)
                $('#full_status').html('');
                var data = JSON.parse(data);
                for(var index=0;index<data.length;index++){
                    $('#full_status').append('<p style="color:#00FF00">Group - '+data[index].group_name+'</p>');
                    for (var j = 0; j < data[index].devices.length; j++) {
                        $('#full_status').append('<p style="color:#00FF00">'+data[index].devices[j].ip+'</p>');
                        for (var k = 0; k < data[index].devices[j].users.length; k++) {
                            if (data[index].devices[j].users[k].duration>DURATION_THREASHOLD) {
                                    $('#full_status').append('<p style="color:#FF0000">'+data[index].devices[j].users[k].id+'-'+data[index].devices[j].users[k].duration+' sec</p>');
                            }else{
                                    $('#full_status').append('<p style="color:#00FF00">'+data[index].devices[j].users[k].id+'-'+data[index].devices[j].users[k].duration+' sec</p>');
                            }
                            
                        }
                    }
                        //$('#full_status').append('<p style="color:#00FF00">'+data[index]+' sec</p>');
                }
                //$('#in_status').html('<p style="color:#00ff00">'+data+'</p>');
        });

        socket.on('out_status',function(data){
                $('#out_status').html('');
                var data = JSON.parse(data);
                for(var index=0;index<data.length;index++){
                        $('#out_status').append('<p style="color:#FF0000">'+data[index].id+' - '+data[index].duration+' sec</p>');
                }
                //$('#out_status').html('<p style="color:#ff0000">'+data+'</p>');
        });
    </script>
</html>
